@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:300,500');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  background-color: #24272e;
  color: #fff;
}

header {
  background-color: #3f4552;
  padding: 1.2rem;
  display: flex;
  justify-content: center;
}

header h1 {
  font-weight: 100;
}

.container {
  display: flex;
  justify-content: center;
}

.scoreboard {
  display: flex;
  justify-content: center;
  border: 2px #fff solid;
  width: 32rem;
  padding: 2rem 0;
  margin-top: 7rem;
  border-radius: 3px;
}

.scores {
  font-size: 4.8rem;
}

.player-labels {
  background: rgb(209, 60, 60);
  border: 1px #fff solid;
  text-transform: uppercase;
  font-size: 1.2rem;
  height: fit-content;
  padding: 1.2rem;
  align-self: center;
  position: relative;
  border-radius: 3px;
  letter-spacing: 2px;
}

.user {
  left: -80px;
}

.comp {
  left: 80px;
}

.game-result {
  margin-top: 5rem;
  font-size: 2.2rem;
  font-weight: 300;
}

.game-controls-container {
  color: #fff;
  margin-top: 5rem;
}

.icon {
  display: inline-block;
  border: 3px solid #fff;
  border-radius: 50%;
  padding: 2rem;
  margin: auto 10px;
  transition: all 0.3s ease;
}

.icon img {
  filter: invert(100%);
}

.icon:hover {
  transform: scale(1.2)
}

.statement h3 {
  font-size: 2rem;
  margin-top: 1.4rem;
  text-transform: uppercase;
}

.game-counter {
  font-size: 6.8rem;
  margin-top: 1.2rem;
}